body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   line-height: 1.5;
   padding: 0;
   margin: 0;
   background-color: rgb(210, 197, 218);
}
/*global*/
.container {
   width: 80%;
   margin: auto;
   overflow: hidden;
}

ul {
   margin: 0;
   padding: 0;
}

.button_1 {
   height: 32px;
   background: rgb(255, 0, 0);
   border: 1;
   padding-left: 15px;
   padding-right: 15px;
   color: white;
}

.dark {
   padding: 15px;
   background-color: rgb(55, 83, 83);
   color: white;
   margin-top: 15px;
   margin-bottom: 15px;
}

/*header*/
header {
   background-color: rgb(43, 43, 58);
   color: white;
   padding-top: 25px;
   min-height: 70px;
   border-bottom: rgb(87, 85, 88) 9px solid;
}

header a {
   color: white;
   text-decoration: none;
   font-size: 1em;
}

li {
   float: left;
   display: inline;
   padding: 0 10px 0 10px;
}

#branding {
   float: left;
}

.co-title {
   margin: 0;
}

nav {
   float: right;
   margin-top: 10px;
}

/*hover*/
.co-title:hover {
   color: rgb(253, 4, 4);
}

a:hover {
   color: rgb(90, 100, 245);
}

.button_1:hover {
   color: red;
   background-color: white;
}
/*showcase*/
#showcase {
   background: url('../img/site-3595016_1920 copy.jpg') no-repeat;
   background-position-x: -100;
   background-size: cover;
   min-height: 500px;
}

#showcase h1 {
   text-align: center;
   color: rgb(54, 46, 46);
   margin-top: 50px;
   font-size: 1.6rem;
}

#showcase p {
   font-size: 1.3rem;
}

/*newsletter*/
#newsletter {
   padding: 10px;
   background-color: rgba(27, 45, 102, 0.733);
   color: white;
}

#newsletter h1 {
   float: left;
}

form {
   float: right;
   margin-top: 12px;
}

input[type="email"]{
   padding: 4px;
   height:20px;
   width:250px;
}

/*boxes*/
#boxes {
   margin-top: 20px;
}

.box {
   float: left;
   width: 30%;
   padding: 10px;
   text-align: center;
}

.box img {
   width: 90px;
}

/*sidebar*/
aside {
   float: right;
   width: 70%;
   margin-top: 10px;
}

#main-col {
   float: left;
   width: 30%;
}

img {
   width: 100%;
}

#leadership {
   margin: auto;
   padding: 10px;
   width:50%;
   text-align: center;
}

/*contact form*/
#contact, input, textarea {
   width: 90%;
}

/*footer*/
footer{
   padding: 25px;
   margin-top: 15px;
   background-color: rgb(43, 43, 58);
   color: white;
}

/*media queries*/
@media(max-width: 700px){
   #branding, nav, nav li, #newsletter h1, #newsletter form, #boxes .box, #main-col, aside {
      float: none;
      text-align: center;
      width: 100%;
   }

   #showcase h1 {
      margin-top: 35px;
   }

   #newsletter button {
      display: block;
      width: 100%;
   }

   #newsletter form input[type="email"]{
      width: 100%;
      margin-bottom: 5px;
   }
}

@media(min-width: 1100px) {
   body {
      width: 1100px;
      margin: auto;
   }
}